In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('diabetes_dataset__2019.csv')
df

,Age,Gender,Family_Diabetes,highBP,PhysicallyActive,BMI,Smoking,Alcohol,Sleep,SoundSleep,RegularMedicine,JunkFood,Stress,BPLevel,Pregancies,Pdiabetes,UriationFreq,Diabetic
0,50-59,Male,no,yes,one hr or more,39.0,no,no,8,6,no,occasionally,sometimes,high,0.0,0,not much,no
1,50-59,Male,no,yes,less than half an hr,28.0,no,no,8,6,yes,very often,sometimes,normal,0.0,0,not much,no
2,40-49,Male,no,no,one hr or more,24.0,no,no,6,6,no,occasionally,sometimes,normal,0.0,0,not much,no
3,50-59,Male,no,no,one hr or more,23.0,no,no,8,6,no,occasionally,sometimes,normal,0.0,0,not much,no
4,40-49,Male,no,no,less than half an hr,27.0,no,no,8,8,no,occasionally,sometimes,normal,0.0,0,not much,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,less than 40,Male,yes,no,more than half an hr,25.0,no,no,8,6,no,often,sometimes,normal,0.0,0,not much,yes
948,60 or older,Male,yes,yes,more than half an hr,27.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,quite often,yes
949,60 or older,Male,no,yes,none,23.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,not much,no
950,60 or older,Male,no,yes,less than half an hr,27.0,no,yes,6,5,yes,occasionally,very often,high,0.0,0,not much,no
951,60 or older,Female,yes,yes,one hr or more,30.0,no,no,7,4,yes,occasionally,sometimes,high,2.0,0,quite often,yes

In [4]:
df.Stress.value_counts()

sometimes     564
very often    164
not at all    136
always         88
Name: Stress, dtype: int64

In [5]:
# ver percentualmente dividindo pela quantidade de linhas na tabela
df.Stress.value_counts() / df.shape[0]

sometimes     0.592437
very often    0.172269
not at all    0.142857
always        0.092437
Name: Stress, dtype: float64

In [6]:
# dropna=False exibe a quantidade de campos not a number
df.Pregancies.value_counts(dropna=False)

0.0    754
2.0     64
3.0     60
NaN     42
1.0     28
4.0      4
Name: Pregancies, dtype: int64

In [7]:
df.Diabetic.value_counts(dropna=False)

no     684
yes    266
 no      1
NaN      1
Name: Diabetic, dtype: int64

In [31]:
df.Gender.value_counts(dropna=False)

Male      580
Female    372
Name: Gender, dtype: int64

In [32]:
df.Stress.value_counts()

sometimes     564
very often    164
not at all    136
always         88
Name: Stress, dtype: int64

In [13]:
df.loc[pd.isnull(df.BMI), 'BMI']

113   NaN
116   NaN
121   NaN
122   NaN
Name: BMI, dtype: float64

In [23]:
# preprocessamento

df.loc[pd.isnull(df.BMI), 'BMI'] = df.BMI.mean()
df.loc[pd.isnull(df.Pregancies), 'Pregancies'] = 0
df.loc[pd.isnull(df.Pdiabetes), 'Pdiabetes'] = 0
df.loc[pd.isnull(df.Diabetic), 'Diabetic'] = 'no'
df.loc[:, 'Diabetic'] = df.Diabetic.replace(' no', 'no')
df.loc[:, 'Pdiabetes'] = df.Pdiabetes.replace(0, 'no')
df.loc[:, 'RegularMedicine'] = df.RegularMedicine.replace('o', 'no')
df.loc[:, 'BPLevel'] = df.BPLevel.replace('normal ', 'normal').replace('High', 'high').replace('Low', 'low')

In [26]:
df.Diabetic.value_counts(dropna=False)

no     686
yes    266
Name: Diabetic, dtype: int64

In [27]:
df

,Age,Gender,Family_Diabetes,highBP,PhysicallyActive,BMI,Smoking,Alcohol,Sleep,SoundSleep,RegularMedicine,JunkFood,Stress,BPLevel,Pregancies,Pdiabetes,UriationFreq,Diabetic
0,50-59,Male,no,yes,one hr or more,39.0,no,no,8,6,no,occasionally,sometimes,high,0.0,0,not much,no
1,50-59,Male,no,yes,less than half an hr,28.0,no,no,8,6,yes,very often,sometimes,normal,0.0,0,not much,no
2,40-49,Male,no,no,one hr or more,24.0,no,no,6,6,no,occasionally,sometimes,normal,0.0,0,not much,no
3,50-59,Male,no,no,one hr or more,23.0,no,no,8,6,no,occasionally,sometimes,normal,0.0,0,not much,no
4,40-49,Male,no,no,less than half an hr,27.0,no,no,8,8,no,occasionally,sometimes,normal,0.0,0,not much,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,less than 40,Male,yes,no,more than half an hr,25.0,no,no,8,6,no,often,sometimes,normal,0.0,0,not much,yes
948,60 or older,Male,yes,yes,more than half an hr,27.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,quite often,yes
949,60 or older,Male,no,yes,none,23.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,not much,no
950,60 or older,Male,no,yes,less than half an hr,27.0,no,yes,6,5,yes,occasionally,very often,high,0.0,0,not much,no
951,60 or older,Female,yes,yes,one hr or more,30.0,no,no,7,4,yes,occasionally,sometimes,high,2.0,0,quite often,yes

In [28]:
# transformando em colunas dummy

In [29]:
df_d = pd.get_dummies(df)

In [30]:
df_d

,BMI,Sleep,SoundSleep,Pregancies,Age_40-49,Age_50-59,Age_60 or older,Age_less than 40,Gender_Female,Gender_Male,...,BPLevel_high,BPLevel_low,BPLevel_normal,Pdiabetes_0,Pdiabetes_no,Pdiabetes_yes,UriationFreq_not much,UriationFreq_quite often,Diabetic_no,Diabetic_yes
0,39.0,8,6,0.0,0,1,0,0,0,1,...,1,0,0,1,0,0,1,0,1,0
1,28.0,8,6,0.0,0,1,0,0,0,1,...,0,0,1,1,0,0,1,0,1,0
2,24.0,6,6,0.0,1,0,0,0,0,1,...,0,0,1,1,0,0,1,0,1,0
3,23.0,8,6,0.0,0,1,0,0,0,1,...,0,0,1,1,0,0,1,0,1,0
4,27.0,8,8,0.0,1,0,0,0,0,1,...,0,0,1,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,25.0,8,6,0.0,0,0,0,1,0,1,...,0,0,1,1,0,0,1,0,0,1
948,27.0,6,5,0.0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,1,0,1
949,23.0,6,5,0.0,0,0,1,0,0,1,...,1,0,0,1,0,0,1,0,1,0
950,27.0,6,5,0.0,0,0,1,0,0,1,...,1,0,0,1,0,0,1,0,1,0
951,30.0,7,4,2.0,0,0,1,0,1,0,...,1,0,0,1,0,0,0,1,0,1